html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  padding-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0px 200px;
  align-items: center;
}
.nav {
  font-size: xx-large;
  font-weight: bold;
  width: 100vw;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.tcon {
  display: flex;
  font-size: 15px;
  gap: 15px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.pcon {
  width: 100vw;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background-color: white;
}
.ncon {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.ipcon {
  display: flex;
  gap: 10px;
}

.spinner {
  width: 72px;
  height: 72px;
  border: 14.4px #22222d double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}

.lcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px 200px;
  align-items: center;
  justify-content: center;
}
